.exhibits {
  .exhibit {
    .image {
      float:left;
      margin:0em .5em 0em 0em;
      height:40px;
      img {
        height:40px;
      }
    }
  }
}

#exhibit {
  .start:before, .end:before {
    content: " \\ ";
    font-family:pictos;
    position:relative;
    top:-.1em;
  }
  .description {
    margin-top:.5em;
    border-top:1px solid #eee;
    padding-top:.5em;
    font-family:Georgia;
  }
}

#admin.exhibits {
  .exhibit {
    background:#eee;
    padding:.5em 1em;
    min-height:150px;
  }
}