#exhibits {
  div.exhibit {
    height:10em;
    margin:1em 0em;
    .image, .name {
      display:inline-block;
      vertical-align:middle;
    }
    .image {
      margin:0em 0.5em 0.5em 0em;
      height:10em;
      width:7em;
      float:left;
      img {
        max-height:100%;
        max-width:100%;
      }
    }
  }
}

#exhibit {
  .start:before, .end:before {
    content: " \\ ";
    font-family:pictos;
    position:relative;
    top:-.1em;
  }
  .description {
    margin-top:.5em;
    border-top:1px solid #eee;
    padding-top:.5em;
    font-family:Georgia;
  }
}

#admin #exhibits {
  .exhibit {
    background:#eee;
    padding:.5em 1em;
    min-height:150px;
  }
}