#home {


  h2 {
    font-family:'baskerville';
    font-size:2em;
    color:#222;
    margin:0.5em 1em 0 1em;
    letter-spacing:2px;
    font-style:italic;
  }

  text-align:left;

  #home_image {
    margin:1em 2em;
    border:1px solid #333;
    width:350px;
    float:left;
  }

  p {
    margin-left:3em;
    padding:1em;
    //width:680px;
    text-align:left;
  }
}
