$light_orange: #ff8812;
$dark_orange: #f37703;
$hover_color: #09f;

body {
  font-family: "PTSansRegular", "Helvetica Neue", Helvetica, Arial;
  //background:   url(/assets/background.jpg) no-repeat fixed;
  //background-size:cover;
  background:#eee;
  font-size:    16px;
}

h1 {
  font-family:'Bebas';
}

h1, h2, h3, h4, h5, h6 {
  font-weight:bold;
}

h1 { font-size:250%; }
h2 { font-size:200%; }
h3 { font-size:175%; }
h4 { font-size:140%; }
h5 { font-size:120%; }
h6 { font-size:110%; }

a {
  text-decoration:  none;
  display:          inline-block;
  color:            inherit;
}

table {
  cell-collapse:collapse;
  width:100%;
  tr {
    td, th {
      padding:  4px 8px;
      border:   1px solid #ccc;
    }
    th {
      font-weight:  bold;
      background:   #eee;
    }
  }
}

ol.hl, ul.hl {
  li {
    display:inline-block;
    margin-right:5px;
  }
}

.apostrophe {
  margin-left:2px;
  font-size:inherit;
}

#wrap {
  margin:30px auto;
  margin-bottom:50px;
  width:900px;
}

#main {
  background:#fff;
  padding:2em;
  border:6px outside rgba(0,0,0,0.2);
}

#notice, #error {
  background:#fff;
  padding:1em;
  text-align:center;
  color: white;
  font-family: PTSansRegular;
  font-size: 24px;
  border: 20px solid white;
  border-bottom: 0px;
}

#notice {
  background: green;
}

#error {
  background:red;
}

button, input[type=submit], .button {
  display:inline-block;
  font-family:PTSansBold;
  padding: .3em .5em;
  border: 1px solid #CCC;
  border-radius: 3px;
  color: #333;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.46, gainsboro), color-stop(0.73, #EBEBEB));
  background-image: -moz-linear-gradient(center bottom, gainsboro 46%, #EBEBEB 73%);
  background-color: #E1E1E1;
  cursor: pointer;
  &:hover {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.46, #eee), color-stop(0.73, whiteSmoke));
  }
}

table {
  td.delete {
    color:red;
  }
}

.pictos {
  font-family:"pictos";
  font-weight:normal !important;
}

.polaroid {
  padding:3px;
  background:whiteSmoke;
  border:1px solid #ccc;
  display:inline-block;
  img {
    border:1px solid #aaa;
    padding:0px;
    margin:0px;
  }
}

.text {
  font-family:Georgia;
  font-size:18px;
  line-height:27px;
  color:#333;
}

.action_divider {
  color:#ccc;
  display:inline-block;
  margin:0px 10px;
}

.new_header, .edit_header {
  h1, a {
    display:inline-block;
  }
  a {
    float:right;
    margin-top:.5em;
    margin-right:.5em;
    font-size:120%;
  }
}

.edit_button {
  display:inline-block;
  margin-left:1em;
  position:relative;
  top:-.4em;
}

.button.new {
  margin-bottom:1em;
}
